a{color:inherit;}

html,body{font-family:'Lato',sans-serif; background-color:#ecf0f1;color:#2c3e50; margin:0px; }

section{text-align: center;}
section > ul{list-style: none; padding: 0px}


h1{font-size: 30px}
h2{font-size:xx-large;text-align:left;border-bottom: solid 1px #eeeeee; text-align: center}
h3{color:#2980b9;}
h4{color:#3498db;}


/*HEADER SPECIFICATIONS*/
header{text-align: center;padding: 20px; margin-top: 20px}
header h1{font-weight: normal}
header img{height: 200px;width: 200px;border-radius: 200px; -webkit-border-radius: 200px; -moz-border-radius: 200px;}
header p{font-size:18px;font-weight:300;text-align:center;}


#contact{
	height:53px;
	text-align:center;vertical-align:top;
	padding-top:4px;padding-bottom:4px;
}

	#contact img{transition:all.2s;}
	#contact a{vertical-align:top; display:inline-block; margin-left:3px;margin-right:7px;}
	#contact p{margin:0px;padding:0px;display:inline;float:left;}


.print{display: none;}



div.langage{height:100px;width: 300px;vertical-align:top;display: inline-block;}
div.langage img{height:100px;display: inline-block; float: left}
div.langage ul{height:100px;list-style:none;text-align:left; width: 300px;}
div.langage li{height:25px}
div.langage li>strong{display:inline-block;width:80px;}
div.langage li>progress{display:inline-block;width:120px;}




footer{border-top: solid 2px #eeeeee; padding:50px;margin-top:30px;text-align: center}

#competencies{max-width: 100%;/*to correct bad align*/ }


/*mobile*/
@media only screen and (max-width: 768px) {
	/*reduce contacts items*/
	#contact img{width:53px;height:53px;}
	/*set fixed padding*/
	section{padding-left:10px;padding-right:10px;}
}
/*desktop*/
@media only screen and (min-width: 768px) {
	/*bigger contacts items*/
	#contact img{width:40px;height:40px;}
	#contact img:hover{width:50px;height:50px;}
	/*set changing padding*/
	section{padding-left:10%;padding-right:10%;}
}
