html,body{font-family:'Lato',sans-serif;color:#2c3e50; margin:0px; }
a{color:inherit;}

/*mobile*/
@media only screen and (max-width: 768px) {
    


}
/*desktop*/
@media only screen and (min-width: 768px) {
    
section{}
    /* create a vertical line */
    section > ul{margin-left:120px ; padding-left: 25px;list-style: none;border-left: 2px solid #ecf0f1; }
        section > ul > li{}
        /* small circle on the vertcical line in front of the label */
        section > ul > li:before{display:block;position: relative;right: 31px ; top:52px;width: 80px;
            content:' '; background-color: rgb(52,152,219); width:10px;height:10px;
            border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px;}
        /* create a title effect on the job title */
        section > ul > li > strong{color: rgb(52,152,219);font-weight: normal;font-size: 18px}
        /* move date to the left of the vertical ligne in a gray rectangle */
        section > ul > li > date{display:block;position: relative;right: 125px ; top:30px;width: 80px;height:35px;
            background-color: #ecf0f1;  font-size: 18px;text-align: center;}
        /* add a small shape on the gray box */
        section > ul > li > date:before{display:block;content:" ";position: relative;top:12.5px;left:80px;
            width:0; height:0; border-top: 5px solid transparent; border-left: 10px solid #ecf0f1;border-bottom: 5px solid transparent;
        }
        section > ul ul{list-style: none; padding-left: 10px}
            section > ul ul > li:before{content: '- '}


h1{font-size: 30px}
h2{font-size:xx-large;font-weight: lighter;text-align: left;color:rgb(52,152,219)}
h3{color:#2980b9;}
h4{color:#3498db;}


/*HEADER SPECIFICATIONS*/
header{ }
    header h1{font-weight: normal; margin-top: 5px;font-size: 44px}
    header p{font-size:16px;font-weight:300;padding: 0;margin:0}
    header a{text-decoration: none;}


#contact{ height:53px; vertical-align:top; padding-top:4px;padding-bottom:4px;}
    #contact img{transition:all.2s;}
    #contact a{vertical-align:top; display:inline-block; margin-left:3px;margin-right:7px;}
    #contact p{margin:0px;padding:0px;display:inline;float:left;}

.print{display: none;}


div.langage{height:100px;width: 300px;vertical-align:top;display: inline-block;}
div.langage img{height:100px;display: inline-block; float: left}
div.langage ul{height:100px;list-style:none;text-align:left; width: 300px;}
div.langage li{height:25px}
div.langage li>strong{display:inline-block;width:80px;}
div.langage li>progress{display:inline-block;width:120px;}


footer{border-top: solid 2px #eeeeee; padding:50px;margin-top:30px;text-align: center}

#competencies{max-width: 100%;/*to correct bad align*/ }

#contact img{width:40px;height:40px;}
#contact img:hover{width:50px;height:50px;}

#right_panel {background-color: #ecf0f1;position: absolute; top:0;left: 0;bottom: 0;max-width:200px;padding: 10px}
    #right_panel img{height: 200px;width: 200px;}
    #right_panel img.user{border-radius: 200px; -webkit-border-radius: 200px; -moz-border-radius: 200px;}
    #right_panel h2{font-size: medium}
    #right_panel p{font-size: small;text-align: justify;}
    #right_panel ul{list-style: none; padding: 0}
        #right_panel ul li{font-size: small;}
            #right_panel ul progress{width: 100%;}

#content{margin-left: 240px;}
}
